 The World Cup 2014 Surplus to Requirements XI. Photograph: Guardian 
As ever in the selection of World Cup 
<https://www.theguardian.com/football/world-cup-football> squads, there are 
excellent players whose presence, for one reason or another, is deemed 
unsuitable – whether for reasons of form, fitness or face. And with several 
squads not yet finalised, waiting to be pruned from 30 to 23, for some there 
awaits disappointment yet more crushing – not only will they miss out on a trip 
to Brazil but are also ineligible for the Guardian's Surplus to Requirements XI:

Diego López

Initially a beneficiary of José Mourinho's appetite for a fight, Diego López 
has retained his spot in the Real Madrid goal, even under Carlo Ancelotti. But 
at international level,Iker Casillas, the man he superseded, remains Vicente 
del Bosque's preference 
<https://www.theguardian.com/football/2014/may/13/spain-world-cup-squad-torres-mata>
, and with Pepe Reina and David De Gea also available his omission barely 
weakens the squad, while allowing the captain the security of certainty,

Rafael da Silva

A player of undoubted attitude and ability, the Brazilian had finally 
harnessed both – last season, his performances were notable solely for their 
consistent excellence. But, following the arrival of a manager who clearly did 
not rate him, his confidence and performances plummeted.

John Mensah

Though past his best, it was nonetheless surprising when Mensah – a former 
Black Stars captain –was dropped by the Ghana manager, Kwesi Appiah 
<https://www.theguardian.com/football/2014/may/12/ghana-world-cup-squad-mensah-out-essien>
. He was not expected to start games, but his leadership and calmness would 
have been useful, given a youthful squad and taxing group.

Miranda

Despite playing a crucial role at Atlético Madrid, in one of Europe's 
strongest and best-organised defences,Miranda was ignored by the Brazil coach, 
Luiz Felipe Scolari 
<https://www.theguardian.com/football/2014/may/07/brazil-world-cup-squad-luiz-felipe-scolari-selecao>
. More peculiarly still, alongside Thiago Silva will be either David Luiz or 
Dante, neither of whom is remotely as reliable.

Ashley Cole

Competing against England in the group stages are three pacy and inventive 
attacking sides – but, nonetheless, the ability to cross and take free-kicks 
has been deemed of greater value than fast running and resourceful defending. 
As such, Leighton Baines, aged 29 and with zero Champions League games to his 
credit, hasbeen preferred to Ashley Cole as first choice 
<https://www.theguardian.com/football/2014/may/12/ashley-cole-england-world-cup-squad-roy-hodgson>
, with Luke Shaw a sensible choice as back-up. The right-wingers of Costa Rica, 
Italy and Uruguay are unlikely to experience much in the way of trepidation.

Gareth Barry

Perennially underrated and underappreciated, Barry has enjoyed an excellent 
season for Everton – one far better than that of Frank Lampard at Chelsea and 
Michael Carrick at Manchester United,both of whom have been selected ahead of 
him, albeit the latter is only on standby 
<https://www.theguardian.com/football/2014/may/12/england-world-cup-squad-hodgson-barkley-sterling>
. A perceptive passer with the ability to shoot from distance, Barry has the 
rare ability to elevate the players around him and is perhaps better suited to 
his position than Steven Gerrard, the man who will fill it for England in 
Brazil.

Ander Herrera

Another influential season for Athletic Bilbao was not sufficient to earn 
Herrera a holiday in Brazil. Such is the strength of Spanish football – despite 
its lack of a St George's Park facility with underwater treadmills – that the 
exclusion of exceptional talents for the Spanish national team is inevitable 
but, even so, Herera is unfortunate to miss out.

Samir Nasri

Didier Deschamps' exclusion of Samir Nasri from his France squad 
<https://www.theguardian.com/football/2014/may/13/france-world-cup-squad-samir-nasri-gael-clichy-didier-deschamps>
 left the world in the rather uncomfortable position of deeming the tweets of a 
footballer's girlfriend to be news. But, Anara Atanes – that's the Anara Atanes 
– was not at all happy. And it is unlikely that Nasri was either, given his 
excellent season for Manchester City, one in which he has made a significant 
improvement in both manner and performance. But Deschamps remained unimpressed 
by his performances at international level and, not considering him a likely 
starter, felt unable to rely on his goodwill and co-operation as a reserve.

Isco

A player so good that his arrival precipitated the sale of Mesut Özil, Isco's 
season at Madrid has been mixed. He began well but the form of Luka Modric and 
Ángel di María gradually nudged him out of the reckoning and, given Spain's 
humiliation of playmaking riches, his omission was not the shock it might once 
have been.

Iker Muniaín

Yet another imaginative, improvisational Spaniard, Muniaín is also fast and 
adroit. And his form this season has been excellent, along with that of 
Herrera, a significant factor in Bilbao's champions league qualification. But, 
such is the competition, he has been awarded only one international cap and 
although would he would probably be an automatic choice in every other squad, 
was never going to make Spain's.

Carlos Tevez

Despite Brazil's relative proximity to his daughter in Argentina, there was no 
place for Tevez in Alejandro Sabella's World Cup squad 
<https://www.theguardian.com/football/2014/may/13/argentina-world-cup-201-squad-manchester-city-martin-demichelis>
. It is true that he can call upon Sergio Agüero, Lionel Messi, Gonzalo Higuaín 
and Ezequiel Lavezzi but the presence in the provisional list of Rodrigo 
Palacio and, in particular, Franco Di Santo, remains strange.

Subs

John Ruddy Despite playing for Norwich – a relegated side that conceded 62 
league goals – Ruddy also kept 12 clean sheets and has been named in every 
single England squad since the European Championship. But Fraser Forster and 
Ben Foster – who has previously retired from international football, offended 
by his lack of unearned opportunities – were selected to be Joe Hart's 
deputies. Ruddy was particularly disappointed by the failure of nepotism upon 
which he had relied: Dave Watson, England's goalkeeping coach, is also 
Norwich's. "I've only worked with Dave for the last two years and now I'm not 
in the World Cup squad. It doesn't sit very well," he said.

Filipe Luís Another player who has had an exceptional season with Atlético 
Madrid – and another likely to be plundered by plutocrats too impatient to 
develop their own talent. But competition at left-back is tough and while he is 
arguably a superior defender to both Maxwell and Marcelo, he is not as 
effective going forward.

Marc Bartra Rated very highly at Barcelona, Bartra has made 25 appearances 
this season, most recently seizing the chance afforded him by an injury to 
Gerard Piqué andscoring against Real Madrid in the Copa del Rey final 
<https://www.theguardian.com/football/2014/apr/16/barcelona-real-madrid-copa-del-rey-match-report-gareth-bale>
. Given Spain's relative weakness at centre-back and the likelihood of his soon 
becoming a regular, Del Bosque could have done worse than find him a space.

Asier Illarramendi Yet to make his international debut, Illarramendi is the 
most expensive Spaniard ever purchased by Real Madrid. Strong in the tackle and 
adept at anticipating danger, the defensive midfielder is also a clever passer 
and mover, able to relieve pressure and start attacks.

Javier Pastore A sublime talent, Pastore has yet to find an accompanying 
consistency. Although his season with Paris Saint-Germain was punctuated by 
brilliance beyond the reach of most others, it was largely disappointing, and 
as such, insufficient to earn him a place in the Argentina squad.

Mario Gomez Despite damaging knee ligaments in March, Gomez's exclusion from 
Germany's provisional squad 
<https://www.theguardian.com/football/2014/may/08/germany-world-cup-squad-sami-khedira>
 was surprising. He has resumed training and, given its dearth of strikers – a 
deficiency already exposed in this season's Champions League – that Joachim Löw 
could find no role for him, even as a substitute, may prove to be an error.
 